
<!DOCTYPE html>
<html>
<head>
	<title>Logout page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	{% block content %}
	 <div class="content-section">
      <div class="media">
      	<div class="small">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    </div>
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
 
</div>
{% endblock content %}
</body>
</html>